body{
    
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
h1{
    color:black;
    background-color:burlywood;
    
}
p{
    font:oblique;
    font: size 1.3em;;

    
}
input{font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
    padding: 3px;
    margin-bottom: 10px;
}
    


  
    
    
