body{
    background-color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
h1{
    color:black;
    background-color:burlywood;
    
}
p{
    font:oblique;
    font-size: medium;
    
}